<div class="page-header page-header-small" style="background-image: url('./assets/img/sections/gerrit-vermeulen.jpg');">
    <div class="filter filter-danger"></div>
    <div class="content-center">
        <div class="container">
            <h1>Hello, <br /> We are Creative Tim.</h1>
            <h3>Let us tell you more about what we do.</h3>
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container-fluid" style="width:70%;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <div *ngFor="let training of trainings" class="u-margin-bottom">
                                <button (click)="selectVideo(training.id)"
                                    [className]="training.answerURL == activeVideo ? 'btn btn-primary' : 'btn btn-secondary'">
                                    {{training.question}}

                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-md-9">
                        <iframe class="embed-responsive-item"
                            [src]='sanitizer.bypassSecurityTrustResourceUrl(activeVideo)' allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer-big footer-black">

        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-6 ml-auto mr-auto">
                    <div class="form-group dropup">
                        <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="form-group dropup">
                        <angular2-multiselect [data]="dropdownList1" [(ngModel)]="selectedItems1"
                            [settings]="dropdownSettings1" (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="col-md-9 ml-auto mr-auto col-sm-9 col-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-6">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="javascript:void(0)">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Discover
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Blog
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-6">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="javascript:void(0)">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            We're Hiring
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            About Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-6">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="javascript:void(0)">
                                            Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            How it works
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Testimonials
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="social-area">
                                <a class="btn btn-just-icon btn-round btn-facebook mr-1">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-just-icon btn-round btn-twitter mr-1">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-just-icon btn-round btn-google mr-1">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-just-icon btn-round btn-pinterest">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="copyright">
                        <div class="pull-left">
                            © {{data | date: 'yyyy'}} Creative Tim, made with love
                        </div>
                        <div class="links pull-right">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        Company Policy
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="javascript:void(0)">
                                        Terms
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="javascript:void(0)">
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>