<form #userForm="ngForm" >
    <div class=" form-group">
        <label for="inputDesignation"> Designation </label>
        <input aria-describedby="DesignationHelp" class=" form-control" id="inputDesignation"
            placeholder="Enter Designation" type="text" name="designation" [(ngModel)]="data.designation"/>
    </div>
    <div class=" form-group">
        <label for="startDate"> Start Date </label>
        <div class=" input-group date" id="startDate">
            <input  class="form-control" placeholder="Date"  ngbDatepicker #start="ngbDatepicker" (click)="start.toggle()" name="startDate"  [(ngModel)]="data.date"/>
            <div class=" input-group-append">
                <span class=" input-group-text">
                    <span class=" glyphicon glyphicon-calendar">
                        <i aria-hidden="true" class=" fa fa-calendar"> </i>
                    </span>
                </span>
            </div>
        </div>
    </div>
   
    

    <button class=" btn btn-primary" type="submit" [mat-dialog-close]="data">Submit</button>
</form>