<div class="container tim-container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h3 class="text-center">Add a new post</h3>
            <div class="media media-post">
                <a class="author" href="javascript:void(0)">
                    <div class="avatar">
                        <img class="media-object" alt="64x64" src="assets/img/faces/ayo-ogunseinde-2.jpg">
                    </div>
                </a>
                <div class="media-body">
                    <textarea class="form-control border-input" placeholder="Write some nice stuff or nothing..." rows="6" name="content" [(ngModel)]="post.content"> </textarea>

                    <div class="media-footer">
                        <a href="javascript:void(0) " (click)=addPost() class="btn btn-info btn-wd pull-right ">Create post</a>

                    </div>
                </div>
            </div>
            <!-- end media-post -->
            <div class="media" *ngFor="let post of posts;index as i">

                <a class="pull-left" href="javascript:void(0)">
                    <div class="avatar">
                        <img class="media-object" alt="Tim Picture" src="assets/img/faces/ayo-ogunseinde-2.jpg">
                    </div>
                </a>
                <div class="media-body">

                    <h5 class="media-heading">{{post?.user?.firstName}}</h5>
                    <div class="pull-right">
                        <h6 class="text-muted">{{post?.date}}</h6>
                        <a href="javascript:void(0)" class="btn btn-info btn-link pull-right "> <i class="fa fa-reply"></i> Reply</a>

                    </div>
                    <p>{{post.content}}</p>

                    <div class="media-footer">

                        <a href="javascript:void(0)" class="btn btn-link" *ngFor="let like of getLikes(post?.reactions);count as c">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{c}}
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-link" *ngFor="let like of getDislikes(post?.reactions);count as c">
                            <i class="fa fa-thumbs-down " aria-hidden="true "></i> {{c}}
                        </a>
                        <a href="javascript:void(0) " class="btn btn-link ">
                                 Follow &middot;
                            </a>
                    </div>
                    <div class="media " *ngFor="let comment of post?.comments ">
                        <a class="pull-left " href="javascript:void(0) ">
                            <div class="avatar ">
                                <img class="media-object " alt="64x64 " src="assets/img/faces/erik-lucatero-2.jpg ">
                            </div>
                        </a>
                        <div class="media-body ">
                            <h5 class="media-heading ">{{comment?.commentingUser?.firstName}}</h5>
                            <div class="pull-right ">
                                <h6 class="text-muted ">{{comment?.date}}</h6>
                                <a href="javascript:void(0) " class="btn btn-info btn-link pull-right "> <i class="fa fa-reply "></i> Reply</a>

                            </div>
                            <p>{{comment?.content}}</p>
                        </div>
                    </div>
                    <!-- end media -->
                </div>
            </div>


            < <!-- end media -->