<div class="wrapper">
    <div class="page-header page-header-small"
        style="background-image: url('./assets/img/sections/rodrigo-ardilha.jpg'); height: 1rem !important;">
        <div class="filter"></div>
    </div>
    <div class="container" >
        <div class="row">
            <form class="form-inline ml-auto" style="margin-top:1rem;">
                <input autocomplete="off"  name="criteria" [(ngModel)]="criteria"  (input)="clearJobs()" (focus)="startSearch()" class="form-control mr-sm-2 no-border" type="text"
                    placeholder="Search Jobs" style="border:2px solid black !important;">
                <button type="submit" class="btn btn-primary btn-just-icon btn-round"><i
                        class="nc-icon nc-zoom-split"></i></button>
            </form>
        </div>
        <div *ngIf="searchStarted">
            <div  class="row" *ngFor="let job of jobOffersEmpty | slice:0:6 | filter:criteria;" style="margin-top:2px;">
                <button (click)=viewJob(job.joid) placement="left" ngbTooltip="{{job.interests}}" style="width:183px;  border:1px solid black;"
                    class="btn btn-secondary ml-auto">
                    <span class="pull-left">{{job.jotitle}}</span>
                    <span class="pull-right">{{job.vuesNumber}} <i class="fa fa-eye"></i></span>

                </button>
                <div style="width:48px;"></div>
            </div>
        </div>
    </div>
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new img-no-padding">
                            <img src="{{basicCandidate.imageUrl}}" alt="...">
                            <!-- <app-image-upload [image]="candidateImage"></app-image-upload> -->
                        </div>
                        <div class="name">
                            <h4 class="title text-center">{{basicCandidate.firstName}}
                                {{basicCandidate.lastName}}<br /><small>{{basicCandidate.title}}</small></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{basicCandidate.bio}}</p>
                    <br />
                    <button (click)="editProfile()" class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i>
                        Settings</button>
                </div>
            </div>
            <br />
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <!-- EXPERIENCE -->
                        <ngb-tab title="Experiences">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <app-experience [id]="id"></app-experience>

                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <!-- SKILLS -->
                        <ngb-tab title="Skills">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <app-skill [id]="id"></app-skill>


                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>>
                        <!-- Certifications -->
                        <ngb-tab title="Certifications">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                                                    <div class="card-body">
                                                        <h6 class="card-category">Best cards</h6>
                                                        <h4 class="card-title"><a href="javascript:void(0)">Green
                                                                Card</a></h4>
                                                        <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                                                    </div>
                                                </div>

                                            </li>
                                            <hr />
                                            <li>
                                                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                                                    <div class="card-body">
                                                        <h6 class="card-category">Best cards</h6>
                                                        <h4 class="card-title"><a href="javascript:void(0)">Green
                                                                Card</a></h4>
                                                        <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <!-- follows -->
                    
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li *ngFor="let con of contacts; index as i;">
                                                <div class="row">
                                                    <div class="col-md-2 col-3">
                                                        <img src="./assets/img/faces/{{con.imageUrl}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-4">
                                                        <h6>{{con.firstName}}
                                                            {{con.lastName}}<br /><small>{{con.email}}</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-2">
                                                        <div class="unfollow">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="" checked>
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            

                                        </ul>

                                    </div>

                                </div>


                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Calendar">
                            <ng-template ngbTabContent>
                                <!-- <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view> -->
                                <mwl-demo-component [events]="events"></mwl-demo-component>
                                 <button (click)="addEvent()" class="btn btn-primary">
                                    Add New Event
                                </button> 
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<app-posts-page></app-posts-page>
<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                </span>
            </div>
        </div>
    </div>
</footer>