<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/presentation']">Professional Network</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">


                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Interview Space</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">

                        <a class="dropdown-item" [routerLink]="['/pages/quizSpace']"><i class="nc-icon nc-bank"></i>&nbsp; Quiz Space</a>
                        <a class="dropdown-item" [routerLink]="['/pages/CandidateQuizSpace']"><i class="nc-icon nc-bank"></i>&nbsp; Quiz Space Candidate</a>
                        <a class="dropdown-item" [routerLink]="['/pages/Question&AnswersSpace']"><i class="nc-icon nc-bank"></i>&nbsp; Questions and Answers</a>

                    </div>
                </div>

                <li *ngIf="role=='Candidate'" class="nav-item">
                    <a class="nav-link" [routerLink]="['/pages/profile']">
                           Profile
                        </a>
                </li>
                <div *ngIf="role=='Candidate'" ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Discover</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a ngbDropdownItem [routerLink]="['/pages/DiscoverNetwork']"><i class="nc-icon nc-tile-56"></i>Discover Network</a>
                        <a ngbDropdownItem [routerLink]="['/pages/DiscoverCompanies']"><i class="nc-icon nc-settings"></i>Discover Companies</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/entprofile-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Enterprises</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/listjoboffer-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Joboffers</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/listevent-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Event & Workshop</a>
                    </div>
                </div>



                <div *ngIf="role!='Candidate'" ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Enterprise section</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/entprofile-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Enterprises</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/enterpriseprofile-page/',x]"><i class="nc-icon nc-single-02"></i>&nbsp; Enterprise Profile</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/listjoboffer-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Joboffers</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/listevent-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Event & Workshop</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/myjobofferlist-page']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; MY Joboffers</a>
                        <a class="dropdown-item" [routerLink]="['/pages/enterprise-pages/addenterprise-page']"><i class="nc-icon nc-basket"></i>&nbsp; Add new enterprise</a>

                    </div>
                </div>


                <li *ngIf="userId==''" class="nav-item">
                    <a class="btn btn-round btn-danger" [routerLink]="['/pages/login']">
                        Sign In
            </a>
                </li>

                <li *ngIf="userId!=''" class="nav-item">
                    <a class="btn btn-round btn-danger" (click)="signOut()">
                        Sign Out ({{userName}})
            </a>
                </li>

            </ul>
        </div>
    </div>
</nav>