<div class="page-header page-header-small" style="background-image: url('./assets/img/sections/gerrit-vermeulen.jpg');">
    <div class="filter filter-danger"></div>
    <div class="content-center">
        <div class="container">
            <h1> Enterprises<br /> we guarantee you found the best.</h1>
        </div>
    </div>
</div>

<!--search-->


<div class="container">
        <div class="row">
            <div class="col-md-6 col-12 ml-auto mr-auto text-center">
                <form role="search" class="form-inline search-form">
                    <div class="input-group no-border">
                      <span class="input-group-addon addon-xtreme no-border" id="basic-addon1"><i class="fa fa-search"></i></span>
                      <input type="text" class="form-control input-xtreme no-border" placeholder="Find Enterprise" aria-describedby="basic-addon1" name="search" [(ngModel)]="searchText" autocomplete="off">
                    </div>
                </form>
                <h6 class="text-muted">Is this what you are looking for?</h6>
            </div>
        </div>
    </div>


<!--search-->

<!--     *********     BLOGS 1      *********      -->
<div *ngFor="let p of entprofile | filter:searchText;index as i">
<div class="blog-1" id="blog-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Our Companies</h2>
                    <br />
                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/stephanie-krist.jpg"/>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-category text-info">{{p.edomain}}</h6>
                                    <h3 class="card-title">
                                        <a href="javascript:void(0)" >{{p.ename}}</a>
                                    </h3>
                                    <p class="card-description">
                                            {{p.edescription}}<a [routerLink]="['/pages/enterprise-pages/enterpriseprofile-page/',p.eid]"> Read More </a>
                                    </p>
                                    <p class="author">
                                         <a href="javascript:void(0)"><b>{{p.elocation}}</b></a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-category text-danger">
                                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> Trending
                                    </h6>
                                    <h3 class="card-title">
                                        <a href="javascript:void(0)">Okoli connects you with tour guides around the world</a>
                                    </h3>
                                    <p class="card-description">
                                        Okoli is a new service by developer Jack Deneut that aims to replace those ugly little cards you find in tourist hotels. The web app, which currently works in Prague, Budapest, Berlin and Paris, lets you reserve a nearly private tour with a professional guid — and… <a href="javascript:void(0)"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by <a href="javascript:void(0)"><b>John Biggs</b></a>, 3 seconds ago
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/federico-beccari.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<footer class="footer footer-black">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                        <li><a href="http://blog.creative-tim.com">Blog</a></li>
                        <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                    </span>
                </div>
            </div>
        </div>
    </footer>