<div class="page-header page-header-small" style="background-image: url('./assets/img/sections/gerrit-vermeulen.jpg');">
    <div class="filter filter-danger"></div>
    <div class="content-center">
        <div class="container">
            <h1> Enterprises<br /> we guarantee you found the best.</h1>
        </div>
    </div>
</div>

<!--     *********     BLOGS 1      *********      -->
<div *ngFor="let p of entprofile;index as i">
<div class="blog-1" id="blog-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Our Companies</h2>
                    <br />
                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/stephanie-krist.jpg"/>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-category text-info">{{p.edomain}}</h6>
                                    <h3 class="card-title">
                                        <a href="javascript:void(0)" >{{p.ename}}</a>
                                    </h3>
                                    <p class="card-description">
                                            {{p.edescription}}<a [routerLink]="['/pages/enterprise-pages/enterpriseprofile-page/',p.eid]"> Read More </a>
                                    </p>
                                    <p class="author">
                                         <a href="javascript:void(0)"><b>{{p.elocation}}</b></a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-category text-danger">
                                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> Trending
                                    </h6>
                                    <h3 class="card-title">
                                        <a href="javascript:void(0)">Okoli connects you with tour guides around the world</a>
                                    </h3>
                                    <p class="card-description">
                                        Okoli is a new service by developer Jack Deneut that aims to replace those ugly little cards you find in tourist hotels. The web app, which currently works in Prague, Budapest, Berlin and Paris, lets you reserve a nearly private tour with a professional guid — and… <a href="javascript:void(0)"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by <a href="javascript:void(0)"><b>John Biggs</b></a>, 3 seconds ago
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/federico-beccari.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>