
<h4 class="title">Pricing cards</h4>
<div class="container">
    
    <div >
        <ngb-tabset type="pills"  class="nav-pills-danger">
            <ngb-tab title="All" >
                <ng-template ngbTabContent>
                        <div class="row">
                                <div class="col-md-4" *ngFor="let a of listPack"  >
                            
                            
                                    <div class="card card-pricing">
                                        <div class="card-body">
                                            <h6 class="card-category">{{a.title}}</h6>
                                            <h1 class="card-title">{{a.price}}</h1>
                                            <ul>
                                                <li><b></b> {{a.description}}</li>
                                                <li><b></b> {{a.type}} </li>
                                                <li [hidden]="a.reduction == 0">{{a.reduction}} </li>
                                                <li [hidden]="a.reduction == 0">{{a.startDate}}</li>
                                                <li [hidden]="a.reduction == 0">{{a.endDate}}</li>
                                            </ul>
                                            <a href="javascript:void(0)" class="btn btn-warning btn-round">
                                                    <input type="submit" (click)="pay(a.id)" value="Get Started!" style="background-color: #fbc658; border-color: #fbc658;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                            
                            </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Company">
                <ng-template ngbTabContent>
                        <div class="row">
                                <div class="col-md-4" *ngFor="let a of listPack" [hidden]="a.type == 'candidate'">
                            
                            
                                    <div class="card card-pricing">
                                        <div class="card-body">
                                            <h6 class="card-category">{{a.title}}</h6>
                                            <h1 class="card-title">{{a.price}}</h1>
                                            <ul>
                                                <li><b></b> {{a.description}}</li>
                                                <li><b></b> {{a.type}} </li>
                                                <li [hidden]="a.reduction == 0">{{a.reduction}} </li>
                                                <li [hidden]="a.reduction == 0">{{a.startDate}}</li>
                                                <li [hidden]="a.reduction == 0">{{a.endDate}}</li>
                                            </ul>
                                            <a href="javascript:void(0)" class="btn btn-warning btn-round">
                                                    <input type="submit" (click)="pay(a.id)" value="Get Started!" style="background-color: #fbc658;border-color: #fbc658;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                            
                            </div>
                
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Candidate">
                <ng-template ngbTabContent>
                        <div class="row">
                                <div class="col-md-4" *ngFor="let a of listPack" [hidden]="a.type == 'company'" >
                            
                            
                                    <div class="card card-pricing" >
                                        <div class="card-body">
                                            <h6 class="card-category">{{a.title}}</h6>
                                            <h1 class="card-title">{{a.price}}</h1>
                                            <ul>
                                                <li><b></b> {{a.description}}</li>
                                                <li><b></b> {{a.type}} </li>
                                                <li [hidden]="a.reduction == 0">{{a.reduction}} </li>
                                                <li [hidden]="a.reduction == 0">{{a.startDate}}</li>
                                                <li [hidden]="a.reduction == 0">{{a.endDate}}</li>
                                            </ul>
                                            <a href="javascript:void(0)" class="btn btn-warning btn-round">
                                               <input type="submit" (click)="pay(a.id)" value="Get Started!" style="background-color: #fbc658;border-color: #fbc658;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            
                            
                            </div>
                </ng-template>
            </ngb-tab>                      
        </ngb-tabset>
    </div>

