<div class="wrapper">
        <div class="main">
            <div class="section section-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center title">
                            <h2>A place for selfImproving</h2>
                            <h3 class="title-uppercase"><small>our Enterprises offer you some Events and Workshops</small></h3>
                        </div>
                    </div>

                    <!--search-->


                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12 ml-auto mr-auto text-center">
                                <form role="search" class="form-inline search-form">
                                    <div class="input-group no-border">
                                      <span class="input-group-addon addon-xtreme no-border" id="basic-addon1"><i class="fa fa-search"></i></span>
                                      <input type="text" class="form-control input-xtreme no-border" placeholder="Find Event" aria-describedby="basic-addon1" name="search" [(ngModel)]="searchText" autocomplete="off">
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
        
    
                    <!--search-->
    

                    <div class="article">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto" *ngFor="let e of collection.events | filter:searchText | paginate: config;index as i">
                                <div class="card card-blog card-plain text-center">
                                    <div class="container2">
                                        
                                            <img src="./assets/img/sections/bruno-abatti.jpg" alt="Norway" style="width:100%;">
                                            <div class="text-block">
                                                    <h4>{{e.eeprice}}</h4>
                                                    <p>Dinars</p>
                                                  </div>
                                            
                                        
                                    </div>
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span class="label label-primary main-tag">{{e.enterprise.ename}}</span>
                                        </div>
                                        <a href="javascrip: void(0);">
                                            <h3 class="card-title">{{e.eetitle}}</h3>
                                        </a>
                                        <div class="card-description">
                                            <p>{{e.eedescription}}</p>
                                        </div>
                                        <h6 class="card-category text-info" ><i class="fa fa-map-marker"></i>location : {{e.eeplace}}</h6>
                                        <h6 class="title-uppercase">{{e.eesdate}} To {{e.eeedate}}</h6>
                                    </div>
                                    <button class="btn btn-danger btn-round btn-sm" (click)="Participate(e.eeid)">Participate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <hr />
                   
                </div>
            </div>
    
        </div>
    </div>
    

    <!--pagination-->
    <div class="container">
            <div class="row">
               <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
                <div class="col-md-4">
                    
                </div>
                
            </div>
    </div>


    <!--footer-->
    <footer class="footer footer-black">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                            <li><a href="http://blog.creative-tim.com">Blog</a></li>
                            <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    